[submodule "udacity_enron/project1/ud120-projects"]
	path = udacity_enron/project1/ud120-projects
	url = https://github.com/udacity/ud120-projects
[submodule "udacity_enron/project/ud120-projects"]
	path = udacity_enron/project/ud120-projects
	url = https://github.com/udacity/ud120-projects
[submodule "numerical-mooc/numerical-mooc"]
	path = numerical-mooc/numerical-mooc
	url = https://github.com/numerical-mooc/numerical-mooc
